﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.c-navbar, .c-box-shadow {
    -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
}

.c-nav-item label {
    font-family: 'Montserrat',Helvetica,Arial,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13.0px;
    color: rgba(43,43,43,1.0);
    text-align: justify;
    letter-spacing: .8px;
    line-height: 16.0px;
    display: inline-block;
    padding-bottom: 2px;
    cursor: pointer;
    border-bottom: 3px solid #fff;
}

    .c-nav-item label:hover {
        border-bottom: 3px solid #CE1528;
    }

.no-hover:hover {
    border-bottom: 3px solid #fff !important;
}

.p0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.c-nav {
    position: absolute;
    bottom: 0;
    width: 4em !important;
}

.c-nav-left {
    right: 64px;
}

.section1:after {
    background: url(../images/bg1.jpg) center repeat;
    opacity: .3;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.tree-r1 {
    position: absolute;
    margin: 0;
    right: 10px;
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: .1;
}
.bamboo1 {
    position: absolute;
    margin: 0;
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    opacity: .1;
}
.flower1 {
    position: absolute;
    margin: 0;
    -ms-transform: rotate(39deg);
    -webkit-transform: rotate(39deg);
    transform: rotate(39deg);
    opacity: .3;
}

@media screen and (max-width: 768px) {
    .carousel-container {
        height:auto;
    }
    .col-left-1 {
        height: 380px;
    }
    .tree-r1 {
        top: -45px;
        right: 5px;
        width: 30%;
    }
    .bamboo1 {
        top: 192px;
        right: 5px;
        width: 30%;
    }
    .flower1 {
        width: 30%;
        top: -50px;
        left: 10px;
    }
    .welcome-copy {
        font-size: 35px;
        left:35%;
    }
    .menu-fish2, .menu-fruit2, .fish2, .leaves2 {
        display: none;
    }
    .strim {
        top:0 !important;
        right: 10px;
        width: 50% !important;
        left: auto !important;
    }
    .strim1 {
        display:none;
    }
    .fish {
        height: 94px !important;
        width: 177px !important;
    }
    .orange {
        height: 108px !important;
        width: 108px !important;
    }
    .service-column .service-menu {
        min-height: 287px !important;
    }
    .service-menu .level-item1 {
        margin-top: 120px !important;
    }
}

.c-btn-reser1 {
    position: absolute !important;
    bottom: 50px;
    left: 40%;
}


.c-btn-reser, .c-btn-reser2 {
    padding: 18px !important;
    font-family: 'Open Sans',Helvetica,Arial,serif;
    border-radius: 0px !important;
    border: 2px solid !important;
    font-weight: 600;
    font-style: normal;
    color: #B8B7B8 !important;
    text-align: justify !important;
    letter-spacing: 3.0px;
    line-height: 18.0px !important;
    background: transparent !important;
}
    .c-btn-reser2.button {
        padding:36px !important;
        margin-top:40px;
    }

@media screen and (max-width: 380px) {
    .col-left-1 {
        height: 240px;
    }
    .pager {
        display:none;
    }
    .c-btn-reser {
        font-size: 9px !important;
        bottom: 30px !important;
        left: 30%;
    }
    .strim {
        height: 109px !important;
        width: 157px !important;
    }
    .fish {
        height: 94px !important;
        width: 177px !important;
    }

    .orange {
        height: 108px !important;
        width: 108px !important;
    }
}

@media screen and (min-width: 1023px) {
    .carousel-container1 {
        height: 800px;
    }
    .col-left-1 {
        height:800px;
    }
    .tree-r1 {
        top: -34px;
        left: 378px;
    }
    .bamboo1 {
        top: 434px;
        left: 365px;
    }
    .flower1 {
        top: -99px;
        left: -48px;
    }
    .t-title {
        top: 35%;
    }
    .welcome-copy {
        font-size: 55px;
        left: 45%;
    }
    .c-btn-reser {
        font-size: 13px !important;
    }
    .calrousel-title {
        font-weight: 700;
        font-style: normal;
        font-size: 24.0px;
        color: rgba(111,111,112,1.0);
        text-align: justify;
        letter-spacing: 1.48px;
        line-height: 29.0px;
        padding-top: 100px;
    }

    .calrousel-des {
        font-weight: 400;
        font-style: normal;
        font-size: 18.0px;
        color: rgba(111,111,112,1.0);
        text-align: justify;
        letter-spacing: .3px;
        line-height: 35.0px;
        padding-top: 20px;
    }
    .col-carousel {
        position: relative;
        flex: none !important;
        width: 60% !important;
    }
}
.calrousel-title {
    font-family: 'Montserrat',Helvetica,Arial,serif;
}
.col-carousel {
    position: relative;
}
.calrousel-des {
    font-family: 'Montserrat',Helvetica,Arial,serif;
}
.c-column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.pager {
    position: fixed;
    top: 50%;
    left:40px;
    z-index: 90;
    width: 22px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 4vw;
    -webkit-transition: right 1s,-webkit-transform 1s;
    transition: right 1s,-webkit-transform 1s;
    transition: transform 1s,right 1s;
    transition: transform 1s,right 1s,-webkit-transform 1s;
}
.pager__list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}
.pager__item {
    cursor: pointer;
}
.pager__link {
    padding: 2px;
    display: block;
    height: 10px;
    width: 10px;
    margin: 0 auto 20px;
    background-color: transparent;
    position: relative;
    -webkit-transition: background-color .3s linear 0s;
    transition: background-color .3s linear 0s;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,1.0);
    opacity: 0.3;
}
    .pager__link:after {
        opacity: 1;
        content: "";
        background-color: transparent;
        border: 1px solid rgba(0,0,0,1.0);
        cursor: default;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        top: -6px;
        right: -6px;
        -webkit-transition: opacity .3s linear 0s;
        transition: opacity .3s linear 0s;
    }
.pager__subtext {
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    opacity: 0;
    -webkit-transform: translate(-10px);
    -ms-transform: translate(-10px);
    transform: translate(-10px);
    position: absolute;
    top: -4px;
    right: 25px;
    color: #A52428;
    white-space: nowrap;
    word-spacing: 2px;
}
.pager__link.is--active {
    padding: 8px;
    border: 1px solid rgba(0,0,0,1.0);
    background-color: transparent;
    opacity: 1;
}
    .pager__link.is--active:after {
        width: 28px;
        height: 28px;
    }

.pager-right {
    right:0;
    left:auto;
}
.lbl-followus {
    -ms-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    font-family: 'Open Sans',Helvetica,Arial,serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11.0px;
    color: rgba(36,36,36,1.0);
    text-align: justify;
    letter-spacing: 2.33px;
    line-height: 14.0px;
    margin-left: -38px;
    width: 85px;
}

.social-icon {
    width:17px;
}

.c-sub-table {
    padding:10px 0;
    border-bottom:1px solid #ddd;
}
.c-sub-table-last {
    padding: 20px 0;
    border-bottom: none;
}
.section2:after, .section6:after {
    background: url(../images/bg2.jpg) center repeat;
    opacity: .2;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.map1 {
    zoom:2;
}
.strim {
    top: 80px;
    height: 218px;
    width: 314px;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(48deg);
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    opacity: .3;
}
.strim1 {
    right: 5px;
}
.strim2 {
    left: 28px;
}
.btn-play {
    margin-top: 150px;
    -webkit-box-shadow: 15px 7px 13px -3px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 15px 7px 13px -3px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 15px 7px 13px -3px rgba(0, 0, 0, 0.5) !important;
    padding: 30px 45px !important;
    border-radius: 30px !important;
    background-color: #EA3D51 !important;
}
.bush {
    top: -252px;
    height: 363px;
    width: 414px;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(17deg);
    -webkit-transform: rotate(17deg);
    transform: rotate(17deg);
    opacity: .3;
}
.bush2 {
    left: -143px;
}
.bush3 {
    right: 35px;
}

.fruit2 {
    top: -73px;
    height: 203px;
    width: 97px;
    position: absolute;
    margin: 0;
    left: -57px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.5;
}
.fruit1 {
    top: -23px;
    height: 97px;
    width: 95px;
    position: absolute;
    margin: 0;
    right: 0;
    opacity: 0.5;
}
.fruit3 {
    top: 12px;
    height: 74px;
    width: 64px;
    position: absolute;
    margin: 0;
    left: 43px;
    opacity: 0.5;
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.fruit4 {
    height: 92px;
    width: 63px;
    position: absolute;
    margin: 0;
    left: -24px;
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    opacity: 0.5;
}
.fish1 {
    top: 150px;
    height: 188px;
    width: 355px;
    position: absolute;
    margin: 0;
    left: 0;
    opacity: .2;
}
.orange {
    height: 219px;
    width: 218px;
    position: absolute;
    margin: 0;
    right: 5px;
    opacity: .2;
}


.carousel-des {
    display:none;
}
    .carousel-des.is-active {
        display: block;
    }

.wgwater01 {
    height: 202px;
    width: 202px;
    position: absolute;
    margin: 0;
    right: 20px;
    -ms-transform: rotate(-31deg);
    -webkit-transform: rotate(-31deg);
    transform: rotate(-31deg);
    opacity: .2;
}

.tomato {
    top: 60%;
    height: 191px;
    width: 188px;
    position: absolute;
    margin: 0;
    left: -50px;
    opacity: .2;
}
.fish2 {
    top: 75%;
    height: 178px;
    width: 477px;
    position: absolute;
    margin: 0;
    right: -225px;
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: .3;
}
.section4:after {
    background-image: url(../images/bg4.png), url(../images/bg5.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.c-menu-item {
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat',Helvetica,Arial,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18.0px;
    color: rgba(111,111,112,1.0);
    letter-spacing: 2.25px;
    line-height: 25.0px;
}
    .c-menu-item:after {
        content: ""; 
        display: block;
        margin: 0 auto;
        width: 50%; 
        padding-top: 50px;
        border-bottom: 1px solid black;
    }

.menu-fruit {
    height: 263px;
    width: 389px;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-39deg);
    opacity: .4;
}

.menu-fruit1 {
    top: -16px;
    left: -106px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(-39deg);
}
.menu-fruit2 {
    top: -16px;
    right: -60px;
    -ms-transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    transform: rotate(35deg);
}
.menu-fish1 {
    top: 300px;
    height: 351px;
    width: 638px;
    position: absolute;
    margin: 0;
    left: -400px;
    opacity: .2;
}
.menu-fish2 {
    top: 350px;
    height: 316px;
    width: 488px;
    position: absolute;
    margin: 0;
    right: -120px;
    opacity: .2;
}

.leaves {
    top: 0;
    position: absolute;
    margin: 0;
    height: 325px;
    width: 327px;
}
.leaves1 {
    left: -200px;
}
.leaves2 {
    right: -100px;
}
.service-menu {
    min-height: 289px;
    background-size: cover !important;
    padding: 5px;
    background-color: #fff;
}
.service-menu1 {
    background: url(../images/service1.png) center no-repeat;
}
.service-menu2 {
    background: url(../images/service2.png) center no-repeat;
}
.service-menu3 {
    background: url(../images/service3.png) center no-repeat;
}
.service-menu4 {
    background: url(../images/service4.png) center no-repeat;
}
.service-column {
    padding-top: 20px
}
    .service-column .service-menu {
        min-height: 487px;
        padding-right: 10px;
    }
    .service-column .column {
        margin: 5px;
    }

.wgwatercolor011 {
    position: absolute;
    margin: 0;
    left: -100px;
    -ms-transform: rotate(-165deg);
    -webkit-transform: rotate(-165deg);
    transform: rotate(-165deg);
    opacity: .11;
}

.service-menu .level-item {
    margin-top:120px;
}

.service-menu .level-item1 {
    margin-top: 320px;
}

    .service-menu .level-item .heading, .service-menu .level-item .title {
        font-family: 'Open Sans',Helvetica,Arial,serif;
        color: #fff;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .service-menu .level-item .title {
        border: 1px solid #fff;
    }

.service-flower1 {
    height: 363px;
    width: 414px;
    position: absolute;
    margin: 0;
    left: -230px;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: .3;
}

.press {
    min-height: 420px;
    background-size: cover !important;
    padding: 5px;
    background-color: #fff;
    position:relative;
}
.press1 {
    background: url(../images/press1.png) center no-repeat;
}
.press2 {
    background: url(../images/press2.png) center no-repeat;
}
.press3 {
    background: url(../images/press3.png) center no-repeat;
}
.press4 {
    background: url(../images/press4.png) center no-repeat;
}

.press .press-title, .press .press-des, .press .press-date, .press .press-readmore {
    padding: 10px;
    font-family: 'Montserrat',Helvetica,Arial,serif;
    font-weight: 700;
    font-style: normal;
    text-align: justify;
    letter-spacing: 1.75px;
    line-height: 25.0px;
    color: #fff;
}
.press-black p{
    color: black !important;
}
.press-date {
    font-size: 14.0px;
}
.press-title {
    font-size: 18.0px;
}

.press-des {
    font-size: 12.0px;
    letter-spacing: .2px;
    line-height: 20.0px;
}
.press-readmore {
    letter-spacing: .2px;
    line-height: 15.0px;
    bottom: 0px;
    position: absolute;
}
.seafood06 {
    top: 50px;
    height: 172px;
    width: 460px;
    position: absolute;
    margin: 0;
    left: -100px;
    opacity: .2;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.press-play {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 43%;
    color: #fff;
}

