﻿<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ngon</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bulma.css" />
        <link rel="stylesheet" href="~/css/bulma-carousel.min.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="pager">
        <ul class="pager__list">
            <li class="pager__item" style="display: list-item;">
                <a class="pager__link" href="#slide1">
                    <span class="pager__subtext">Slide 1</span>
                </a>
            </li>
            <li class="pager__item" style="display: list-item;">
                <a class="pager__link is--active" href="#slide2">
                    <span class="pager__subtext">Slide 2</span>
                </a>
            </li>
            <li class="pager__item" style="display: list-item;">
                <a class="pager__link" href="#slide3">
                    <span class="pager__subtext">Slide 3</span>
                </a>
            </li>
            <li class="pager__item" style="display: list-item;">
                <a class="pager__link" href="#slide4">
                    <span class="pager__subtext">Slide 4</span>
                </a>
            </li>
            <li class="pager__item" style="display: list-item;">
                <a class="pager__link" href="#slide5">
                    <span class="pager__subtext">Slide 5</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="pager pager-right">
        <aside class="menu">
            <ul class="menu-list">
                <li style="height:50px;"><p class="lbl-followus">FOLLOW US</p></li>
                <li>
                    <img class="line14" src="https://anima-uploads.s3.amazonaws.com/5abf7331059aec000de3ac4e/5abf7894059aec000b97bedb/5abf7895059aec000de3ac5b/img/menunextdishline.png" anima-src="https://anima-uploads.s3.amazonaws.com/5abf7331059aec000de3ac4e/5abf7894059aec000b97bedb/5abf7895059aec000de3ac5b/img/menunextdishline.png">
                </li>
                <li>
                    <img class="social-icon" src="~/images/social/face.png">
                </li>
                <li>
                    <img class="social-icon" src="~/images/social/twiter.png">
                </li>
                <li>
                    <img class="social-icon" src="~/images/social/trip.png" >
                </li>
                <li>
                    <img class="social-icon" src="~/images/social/insta.png">
                </li>
            </ul>
        </aside>
    </div>
    <nav class="c-navbar navbar is-fixed-top is-transparent">
        <div class="container" style="height:130px">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="~/images/logo.png" style="width:44px;max-height:44px" />
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbarExampleTransparentExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="c-nav-item navbar-item">
                        <label>
                            HOME
                        </label>
                    </a>
                    <a class="c-nav-item navbar-item">
                        <label>
                            SERVICE
                        </label>
                    </a>
                    <a class="c-nav-item navbar-item">
                        <label>
                            ABOUT US
                        </label>
                    </a>
                    <a class="c-nav-item navbar-item">
                        <label>PRESS</label>
                    </a>
                    <a class="c-nav-item navbar-item">
                        <label>
                            CONTACT US
                        </label>
                    </a>
                    <a class="c-nav-item navbar-item">
                        <label>
                            REVIEW
                        </label>
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <span>
                                    EN
                                </span>
                            </p>
                            <p class="control">
                                <span>
                                    |
                                </span>
                            </p>
                            <p class="control">
                                <span>
                                    DE
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <section class="p0 section">
        <div class="container">
            <footer class="footer" style="background-color: transparent">
                <div class="container">
                    <div class="content">
                        <p>&copy; 2018 - Ngon Restaurant</p>
                    </div>
                </div>
            </footer>
        </div>
    </section>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/bulma-carousel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
