﻿@{
    ViewData["Title"] = "Home Page";
}
<div style="position:relative">
    <section class="section section1" style="padding-top:80px;">
        <img class="wgwatercolor011" src="~/images/watercolor1.png">
        <div class="container">
            <div class="columns">
                <div class="c-column column col-left-1" style="position:relative">
                    <div>
                        <img class="tree-r1" src="~/images/tree1.png">
                        <img class="bamboo1" src="~/images/bamboo1.png">
                        <img class="flower1" src="~/images/flower1.png">
                        <a class="c-btn-reser c-btn-reser1  button" style="color:#000 !important">RESERVATIONS</a>
                    </div>
                </div>
                <div class="c-column column">
                    <div id="carousel2" class='carousel carousel-animated carousel-animate-slide'>
                        <div class='carousel-container carousel-container1'>
                            <div class='carousel-item has-background is-active'>
                                <img class="is-background" src="~/images/bg_slide1.jpg" alt="" width="640" height="800" />
                            </div>
                            <div class='carousel-item has-background'>
                                <img class="is-background" src="~/images/bg_slide1.jpg" alt="" width="640" height="800" />
                            </div>
                        </div>
                        <div class="carousel-navigation is-overlay">
                            <div class="c-nav carousel-nav-left c-nav-left">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                            <div class="c-nav carousel-nav-right c-nav-right">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="position:relative">
    <section class="section section2">
        <div class="container">
            <div style="height:300px;text-align:center;">
                <img class="strim strim1" src="~/images/strim1.png">
                <img class="strim strim2" src="~/images/strim2.png">
                <a class="button is-danger btn-play">PLAY VIDEO</a>
            </div>
            <div class="columns c-box-shadow">
                <div class="column" style="background:#EAEAEA;z-index:5">
                    <img class="map1" src="~/images/homepagemap.png">
                </div>
                <div class="column is-one-quarter" style="background:#fff">
                    <div class="has-text-left c-sub-table">
                        <p class="is-5">
                            <strong>OPENING HOURS</strong>
                        </p>
                        <p class="is-5">
                            11 AM - 11 PM | Daily
                        </p>
                    </div>
                    <div class="has-text-left c-sub-table">
                        <p class="is-5">
                            <strong>ADDRESS</strong>
                        </p>
                        <p class="is-5">
                            Rathausstraße 23 10178 Berlin
                        </p>
                    </div>
                    <div class="has-text-left c-sub-table">
                        <p class="is-5">
                            <strong>TEL</strong>
                        </p>
                        <p class="is-5">
                            0174 1923359
                        </p>
                    </div>
                    <div class="has-text-left c-sub-table">
                        <p class="is-5">
                            <strong>EMAIL</strong>
                        </p>
                        <p class="is-5">
                            infor@ngonberlin.com
                        </p>
                    </div>
                    <div class="has-text-centered c-sub-table c-sub-table-last">
                        <a class="c-btn-reser2 button">RESERVATIONS</a>
                        <div style="position:relative;z-index:2">
                            <img class="fruit2" src="~/images/fruit2.png">
                            <img class="fruit1" src="~/images/fruit1.png">
                            <img class="fruit3" src="~/images/fruit3.png">
                            <img class="fruit4" src="~/images/fruit4.png">
                        </div>
                    </div>
                </div>
            </div>
            <div style="position:relative;z-index:-1">
                <img class="bush bush2" src="~/images/bush2.png">
                <img class="bush bush3" src="~/images/bush3.png">
            </div>
        </div>
    </section>
</div>
<div style="position:relative">
    <section class="section section3">
        <div class="container">
            <div style="height:400px;text-align:center;">
                <img class="fish fish1" src="~/images/fish1.png">
                <img class="orange" src="~/images/orange.png">
            </div>
            <div class="columns">
                <div class="c-column column col-carousel">
                    <div class="carousel-des is-active has-text-left c-sub-table c-sub-table-last">
                        <p class="is-5 calrousel-title">
                            <strong>THE NAME OF THE DISH 01</strong>
                        </p>
                        <p class="is-5 calrousel-des">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to .
                        </p>
                    </div>
                    <div class="carousel-des has-text-left c-sub-table c-sub-table-last">
                        <p class="is-5 calrousel-title">
                            <strong>THE NAME OF THE DISH 02</strong>
                        </p>
                        <p class="is-5 calrousel-des">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to .
                        </p>
                    </div>
                    <div>
                        <a class="c-btn-reser2 button">MENU DETAILS</a>
                        <a class="c-btn-reser2 button" style="border: none !important">DOWNLOAD PDF <svg viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-to-bottom fa-w-12" style="font-size: 10px;color:#B8B7B8"><path fill="currentColor" d="M348.5 264l-148 148.5c-4.7 4.7-12.3 4.7-17 0L35.5 264c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l115.4 116V44c0-6.6 5.4-12 12-12h10c6.6 0 12 5.4 12 12v311.9L324.4 240c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.6 4.7 12.2 0 16.9zM384 468v-8c0-6.6-5.4-12-12-12H12c-6.6 0-12 5.4-12 12v8c0 6.6 5.4 12 12 12h360c6.6 0 12-5.4 12-12z" class=""></path></svg></a>
                    </div>
                </div>
                <div class="c-column column">
                    <img class="wgwater01" src="~/images/watercolor1.png">
                    <div id="carousel1" class='carousel carousel-animated carousel-animate-slide'>
                        <div class='carousel-container'>
                            <div class='carousel-item has-background is-active'>
                                <img class="is-background" src="~/images/dish1.png" alt="" width="510" height="496" />
                            </div>
                            <div class='carousel-item has-background'>
                                <img class="is-background" src="~/images/dish2.png" alt="" width="510" height="496" />
                            </div>
                        </div>
                        <div class="carousel-navigation is-overlay">
                            <div class="carousel-nav-left">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                            <div class="carousel-nav-right">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <img class="fish fish2" src="~/images/fish2.png">
                    <img class="tomato" src="~/images/tomato1.png">
                </div>
            </div>
        </div>
    </section>
</div>
<div style="position:relative">
    <section class="section section4 p0">
        <div class="container c-box-shadow" style="border-radius: 50px;background:#fff;">
            <img class="menu-fruit menu-fruit1" src="~/images/menufruit1.png">
            <img class="menu-fruit menu-fruit2" src="~/images/menufruit1.png">
            <img class="menu-fish1" src="~/images/fish3.png">
            <img class="menu-fish2" src="~/images/fish4.png">
            <ul>
                <li class="c-menu-item">
                    <h3 class="title is-1">ABOUT US</h3>
                </li>
                <li class="c-menu-item">
                    <h3 class="title is-4">VIETNAMESE PEOPLE</h3>
                </li>
                <li class="c-menu-item">
                    <h3 class="title is-4">VIETNAMESE CULTURE</h3>
                </li>
                <li class="c-menu-item">
                    <h3 class="title is-4">VIETNAMESE CUISINE</h3>
                </li>
                <li class="c-menu-item">
                    <h3 class="title is-4">OUR STORY</h3>
                </li>
            </ul>
        </div>
    </section>
</div>
<div style="position:relative">
    <section class="section section5">
        <div class="container">
            <div style="height:400px;text-align:center;">
                <img class="leaves leaves1" src="~/images/leaves1.png">
                <img class="leaves leaves2" src="~/images/leaves2.png">
            </div>
            <div class="columns">
                <div class="column c-box-shadow">
                    <div class="service-menu service-menu1">
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="title is-4">EVENT</p>
                                    <p class="heading">Lorem Ipsum is simply dummy text of the printing.</p>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="columns service-column" style="padding-top:20px">
                <div style="z-index:-1">
                    <img class="service-flower1" src="~/images/flower1.png">
                </div>
                <div class="column c-box-shadow mgr-10">
                    <div class="service-menu service-menu2">
                        <nav class="level">
                            <div class="level-item1 level-item has-text-centered">
                                <div>
                                    <p class="title is-4">RESERVATIONS</p>
                                    <p class="heading">Lorem Ipsum is simply dummy text of the printing.</p>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="column c-box-shadow">
                    <div class="service-menu service-menu3">
                        <nav class="level">
                            <div class="level-item1 level-item has-text-centered">
                                <div>
                                    <p class="title is-4">CARTERING</p>
                                    <p class="heading">Lorem Ipsum is simply dummy text of the printing.</p>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="column c-box-shadow">
                    <div class="service-menu service-menu4">
                        <nav class="level">
                            <div class="level-item1 level-item has-text-centered">
                                <div>
                                    <p class="title is-4">DELIVERY</p>
                                    <p class="heading">Lorem Ipsum is simply dummy text of the printing.</p>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div style="position:relative">
    <section class="section section6">
        <div class="container">
            <div style="height:200px">
                <img class="seafood06" src="~/images/fish5.png">
            </div>
        </div>
        <div class="container c-box-shadow" style="padding: 10px;background:#fff;">
            <div class="columns is-multiline">
                <div class="column is-two-thirds">
                    <div class="press press1">
                        <p class="press-date">00 MONTHS, 2018</p>
                        <p class="press-title">BERLIN FASHION WEEK 2018 IN NGON RESTAURANT.</p>
                        <i class="far fa-play-circle press-play"></i>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="press press2">

                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="press press3">
                        <p class="press-date">00 MONTHS, 2018</p>
                        <p class="press-title">BERLIN FASHION WEEK 2018 IN NGON RESTAURANT.</p>
                        <p class="press-readmore">READ MORE <i class="fas fa-arrow-right"></i></p>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="press press4">
                        <p class="press-date">00 MONTHS, 2018</p>
                        <p class="press-title">BERLIN FASHION WEEK 2018 IN NGON RESTAURANT.</p>
                        <p class="press-readmore is-5">READ MORE <i class="fas fa-arrow-right"></i></p>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="press press-black">
                        <p class="press-date">00 MONTHS, 2018</p>
                        <p class="press-title">WHAT IS LOREM IPSUM?</p>
                        <p class="press-des">BERLIN FASHION WEEK 2018 IN NGON RESTAURANT.</p>
                        <p class="press-readmore">READ MORE <i class="fas fa-arrow-right"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
